<!DOCTYPE HTML>
<html>
<head>    
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="/socket.io/socket.io.js"></script> 
	<title></title>
	<script>
	// canvas request for all browsers
	window.requestAnimFrame = (function(callback) {
		return window.requestAnimationFrame || 
		window.webkitRequestAnimationFrame || 
		window.mozRequestAnimationFrame || 
		window.oRequestAnimationFrame || 
		window.msRequestAnimationFrame ||
		function(callback) {
        	window.setTimeout(callback, 1000 / 30); // 30 frames per second
      	};
  	})();

	var iosocket;
	var pollOneH = 0.0;

	function animation() {
		if(pollOneH < 10.0) {
			$('#text1').html("Order Toilet Paper , Weight: " + pollOneH);	
		} else {
			$('#text1').html("No need to order , Weight: " + pollOneH);	
		}

		 //  // request new frame
		 requestAnimFrame(function() {
		 	animation(poll1,text);
		 });
		}

		function initSocketIO() {
			iosocket = io.connect();
			iosocket.on('onconnection', function(value) {
				initPoll();

				// recieve changed values by other client from server
				iosocket.on('updateData', function (recievedData) {
					pollOneH = recievedData.pollOneValue;
					console.log(recievedData);
				});
			});
		}

		function initPoll() {
			poll1 = {}
			text = {}
			animation(poll1,text);
		}

		window.onload = function() {
			initSocketIO();
		};

		</script>
	</head>
	<body>
		<p id="text1">Here</p>
	</body>
	</html>
